body { background-image: url("old_paper.jpg");}

h1 {color: beccdb;}

#ToDoListTable {border : 3px solid  #beccdb ; border-radius: 12px;
              -moz-border-radius: 15px; margin: auto; width: 300px; }

#AddBox {width: 250px; }

.AddRows {padding: 10px;}

footer {position:fixed; height: 30px; background-color: #beccdb; 

        left: 0px; bottom: 0px; width: 100%;}

.divider { display: block; height: 1px; padding-bottom: 20px;}

.do_box {cursor : pointer;}

#ToDoListTable input {cursor: pointer;}